{% extends "app/layout.html" %}

{% block content %}

<div class="about">
    <h1>О компании</h1>

<p>Холдинговая компания NOVA GROUP развивается более 10 лет и на сегодняшний день объединяет 13 компаний, работающих в 8 бизнес-направления: спорт, красота и здоровье, ресторанное направление, организация мероприятий, искусство, развлечения, управление недвижимостью.?

В NOVA GROUP уверены, что эффективное развитие и успешная деятельность компании неразрывно связаны с грамотной кадровой политикой и высоким уровнем корпоративной культуры.

Профессионализм, целеустремленность, инициативность и стремление к развитию – качества, которые объединяют сотрудников NOVA GROUP.

В компании работают как специалисты, имеющие многолетний опыт работы в различных направлениях бизнеса, так и молодые сотрудники, готовые раскрыть свой профессиональный потенциал, совершенствовать существующие навыки и приобрести новые.

 

NOVA GROUP предлагает своим сотрудникам стабильные и современные условия труда, конкурентную заработную плату, возможности для карьерного роста, участие в амбициозных и масштабных проектах. Но главное, что мы готовы вам предоставить для комфортной работы – это дружный коллектив и уникальная атмосфера доверия и сотрудничества.</p>
    </div>
{% endblock %}
